{% extends "./base.html" %}

{% block content %}

<h2 class='h2-room'>{{room}} - DjChat</h2>
<div class='home-button-div'> <a href="{% url 'home' %}" class="home-button-leave">Выйти</a> </div>
<div id="display">

<!--
<div class="container darker">
  <b>Tom</b><p>Hello Everyone, How Are You Guys Doing?</p>
  <span class="time-left">20th, April 2021</span>
</div>-->

</div>


<script nonce="2726c7f26c">
$(document).ready(function(){

setInterval(function(){
    $.ajax({
        type: 'GET',
        url : "/getMessages/{{room}}/",
        success: function(response){
            console.log(response);
            $("#display").empty();
            for (var key in response.messages)
            {
                var temp="<div class='container darker'><b>"+response.messages[key].user+"</b><p>"+response.messages[key].value+"</p><span class='time-left'>"+response.messages[key].date+"</span></div>";
                $("#display").append(temp);
            }
        },
        error: function(response){
            alert('An error occured')
        }
    });
},1000);
})
</script>


<div class="container">
    

    <form id="post-form">
        {% csrf_token %}
        <input type="hidden" class="home-input-text" name="username" id="username" value="{{username}}"/>
        <input type="hidden" class="home-input-text" name="room_id" id="room_id" value="{{room_details.id}}"/>
        <input type="text"  name="message" id="message" width="100px" />
        <input class="home-input-submit" type="submit" value="Отправить">
    </form>
</div>




<script type="text/javascript" nonce="2726c7f26c">
  $(document).on('submit','#post-form',function(e){
    e.preventDefault();

    $.ajax({
      type:'POST',
      url:'/send',
      data:{
          username:$('#username').val(),
          room_id:$('#room_id').val(),
          message:$('#message').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){
         //alert(data)
      }
    });
    document.getElementById('message').value = ''
  });
</script>

{% endblock %}
